<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Test</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All" @onclick="@(()=>IsClicked(Categories.home))">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="games" @onclick="@(()=>IsClicked(Categories.games))">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Games
            </NavLink>
            @if (status == Categories.games)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="games/tictactoe">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Tic Tac Toe
                        </NavLink>
                     </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="games/snake">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Snake
                        </NavLink>
                    </li>
                </ul>
            }
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="others" @onclick="@(()=>IsClicked(Categories.others))">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Others
            </NavLink>
            @if (status == Categories.others)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="others/timer">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Timer
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="others/calculator">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Calculator
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="others/addquestionui">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Add Question UI
                        </NavLink>
                    </li>
                </ul>
            }
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;
    private enum Categories {home, games, others}
    private Categories status = Categories.home;
    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void IsClicked(Categories categories)
    {
        status = categories;
    }
}
